@using AdminPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>KinderFinder Administration</h1>
    <p class="lead">
        Welcome to the KinderFinder administration portal!<br />
        Here, you can manage various aspects of the system, including registered customers and the tags linked to the system.<br />
    </p>
    @* Only display these links to logged in users. *@
    @if (User.Identity.IsAuthenticated) {
        <p>
            Click one of the buttons to get started.<br />
            @Html.ActionLink("App Users", "Index", "AppUsers", null, new { @class = "btn btn-primary btn-lg"})
            @Html.ActionLink("Tags", "Index", "Tags", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Zones", "Index", "Zones", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "btn btn-primary btn-lg" })
            @*<a href="AppUsers" class="btn btn-primary btn-lg">App Users</a>
            <a href="Tags" class="btn btn-primary btn-lg">Tags</a>
            <a href="Zones" class="btn btn-primary btn-lg">Zones</a>
            <a href="Reports" class="btn btn-primary btn-lg">Reports</a>*@
            @* Only display these links to global admins. *@
            @if (User.IsInRole("GlobalAdmins")) {
                @Html.ActionLink("Admins", "Index", "Admins", null, new { @class = "btn btn-primary btn-lg" })
                @Html.ActionLink("Restaurants", "Index", "Restaurants", null, new { @class = "btn btn-primary btn-lg" })
                
                @*<a href="Admins" class="btn btn-primary btn-lg">Admins</a>
                <a href="Restaurants" class="btn btn-primary btn-lg">Restaurants</a>*@
            }
        </p>
    }
    else {
        <p>
            Please log in to continue.<br />
            @*<a href="Account/Login" class="btn btn-primary btn-lg">Log In</a>*@
        </p>
    }
</div>
@if (!User.Identity.IsAuthenticated) { 
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!-- USER NAME -->
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- REMEMBER ME -->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}
<div class="row2">
    <hr />
    <h2>About KinderFinder</h2>
    <p>
        KinderFinder is a system that allows parents to keep track of their children whilst in a designated area. Such an area may be
        a restaurant, for example.<br />
        The children will wear wristbands that transmit their whereabouts, through radio-frequency, to the system. The parents can then
        view their children's location live, on their smartphones.
    </p>
</div>