@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<AdminPortal.Models.Tag>

@{
    ViewBag.Title = "Tags Report";
    ViewBag.OutOfOrderTagsCount = 0;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>
        Select Restaurant: @Html.DropDownList("SelectedRestaurant", "All")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>Tag Name</th>
        <th>Restaurant Name</th>
        <th>Current User</th>
        <th>
            @Html.DisplayNameFor(model => model.LastAccessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutOfOrder)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.OutOfOrder == true)
        {
            ViewBag.OutOfOrderTagsCount++;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAccessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutOfOrder)
            </td>
        </tr>
    }
</table>

<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>Total number of Tags out of order: </td>
        <td>@ViewBag.OutOfOrderTagsCount</td>
    </tr>
    <tr>
        <td>Total number of Tags: </td>
        <td>@Model.Count()</td>
    </tr>
</table>
<br />
<div>
    @Html.ActionLink("Printable report", "", "WebForms/TagReport.aspx")
    <br />
    @Html.ActionLink("Back to Reports main page", "Index")
</div>