@model AdminPortal.Models.Zone

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Zone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoneName)
        </dd>

        <dt>
            Restaurant
            @*@Html.DisplayNameFor(model => model.RestaurantZ.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantZ.Name)
        </dd>

        <dt>
            Preceding Zone
            @*@Html.DisplayNameFor(model => model.ZonePa.ZoneName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZonePa.ZoneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
