@model IEnumerable<AdminPortal.Models.Zone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ZoneName)
        </th>
        <th>
            Restaurant
            @*@Html.DisplayNameFor(model => model.RestaurantZ.Name)*@
        </th>
        <th>
            Preceding Zone
            @*@Html.DisplayNameFor(model => model.ZonePa.ZoneName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantZ.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZonePa.ZoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
