<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KinderFinder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KinderFinder Admin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* Only display these links to logged in users. *@
                    @if (User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("App Users", "Index", "AppUsers")</li>
                        <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
                        <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                        
                        @* Only display these links to global admins. *@
                        if (User.IsInRole("GlobalAdmins")) {
                            <li>@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
                            <li>@Html.ActionLink("Admins", "Index", "Admins")</li>
                        }
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <img src="~/Content/Images/logo.png" />
            <p>&copy; @DateTime.Now.Year - DVT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
