@model AdminPortal.Models.Patron

@{
    ViewBag.Title = "Delete Patron";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <h3>Are you sure you want to delete this patron?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            Linked Tags
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags.Count)
        </dd>

        <dt></dt>
        <dd>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
