@model AdminPortal.Models.Tag

@{
    ViewBag.Title = "Delete Tag";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this tag?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <!-- LABEL -->
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <!-- UUID -->
        <dt>
            @Html.DisplayNameFor(model => model.BeaconID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeaconID)
        </dd>

        <!-- OWNING RESTAURANT -->
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurant1.Name)
        </dd>

        <!-- CURRENT USER -->
        <dt>
            @Html.DisplayNameFor(model => model.CurrentUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.FirstName)
        </dd>

        <!-- DELETE BUTTON -->
        <dt></dt>
        <dd>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </dd>
    </dl>

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
