@model IEnumerable<AdminPortal.Models.Tag>

@{
    ViewBag.Title = "List of Tags";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPatron)
        </th>
        <th></th>
    </tr>

    @{ int row = 1; }

    @foreach (var item in Model) {
        <tr>
            <td>
                @row
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @* If no-one is linked to the tag, display "-None-" instead of patron's name. *@
                @if (item.Patron == null) {
                    @Html.Raw("-None-");
                }
                else {
                    @Html.DisplayFor(modelItem => item.Patron.FirstName)
                    @Html.Raw(" ")
                    @Html.DisplayFor(modelItem => item.Patron.Surname)
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

        row++;
    }

</table>
