@model AdminPortal.Models.AppUser

@{
    ViewBag.Title = "View App User Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <!-- FIRST NAME -->
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <!-- SURNAME -->
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <!-- EMAIL ADDRESS -->
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <!-- PHONE NUMBER -->
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <!-- CURRENT RESTAURANT -->
        <dt> Current Restaurant
            @*@Html.DisplayNameFor(model => model.Restaurant.Name)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>

        <!-- DATE OF LATEST VISIT (TODAY)-->
        <dt>
            Date of lastest visit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUserStat.LastVisit)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
