@model IEnumerable<AdminPortal.Models.AppUser>

@{
    ViewBag.Title = "List of App Users";
}

<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("Add New App User", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CurrentRestaurant)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
